.columns > div {
  display: flex;
  flex-direction: column;
  gap:20px;
  
}


.columns > div > div {
  order: 1;
  background-color: rgb(242, 242, 248);
  padding: 0px 32px 32px ;
  display: flex;
  flex-direction: column;
  flex : 1;
  padding-top:5px;

}

.columns > div > .columns-img-col {
  order: -1;
}

.columns > div > .columns-img-col img {
  display: block;

}

img[data-icon-name="icon-small-right"] {
  transform: scale(2); /* Set the desired height */
}

.columns-wrapper .columns > div > div::before {
  content: url('../icons/icon-small-right.svg'); /* Unicode for a right arrow */
  margin-right: 10px; /* Adjust spacing between the icon and text */
  height: 20px; /* Adjust icon size as needed */
}


@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: row;
    width:100%;
    height:50px;
    gap: 32px;
    padding-top:200px;
    padding-bottom:100px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

}
