/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 3;
  position: fixed;
}

header nav#nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav#nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-height)
    "sections sections" 1fr
    "tools tools" var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav#nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav#nav {
    display: flex;
    justify-content: space-between;
  }

  header nav#nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}





/* hamburger */


header nav#nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
 
}

header nav#nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav#nav .nav-hamburger-icon,
header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
  
}

header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
  border: 2px solid green;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
  
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media(width<=900px ) 
{
  
  header nav#nav .nav-sections  .nav-drop{
    border-bottom: 2px solid  hsl(0, 0%, 83%);
    padding-bottom: 4px;
    position: relative;
    padding-right: 16px;
    cursor: pointer;

  }
  header nav#nav .nav-sections  .nav-drop::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
}
header nav#nav .nav-sections  .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
    
}
header nav .nav-sections ul {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  font-size: var(--body-font-size-xs);
  
  
}


header nav .nav-sections .default-content-wrapper > ul > li {
  flex: 0 1 auto;
  position: relative;
  font-weight: 500;
  margin-bottom: 10px;
  
  
}

header nav .nav-sections .default-content-wrapper > ul > li > ul {
  display: none;
  position: relative;
}

header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
  display: block;
  position: relative;
  left: 1em;
  width: 100%;
  margin-top: 12px;
  padding: 1em;
  background-color: white;
  white-space: initial;
}
header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--light-color);
  
}

header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
  padding: 8px 0;
  
}
header nav .nav-sections .default-content-wrapper > ul > li > ul > li:hover{
  background-color: green;
  color:white;
}
}
@media (width >= 900px) {
  header nav#nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 120px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  color:green;
  cursor:pointer;
}

header nav#nav .nav-brand img {
  width: 100px;
  height: auto;
}

/* sections */
header nav#nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav#nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav#nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav#nav .nav-sections ul > li {
  font-weight: 700;
}

header nav#nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav#nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav#nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  

  header nav#nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  
  header nav#nav .nav-sections ul {
    display: flex;
    gap: 3em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  

  header nav#nav .nav-sections .default-content-wrapper > ul > li:hover {
    flex: 0 1 auto;
    display: block;
    position: relative;
    color:green;
    transition-duration:0.2s;
    transition-timing-function:ease;
    transition-delay:0s;
    transition-property:all;
   text-decoration: none;
   cursor:pointer;
   border-bottom: 3px solid green;
  }
  
  
  header nav#nav .nav-sections .default-content-wrapper >ul li ul{
    position:absolute;
    opacity: 0;
    
    
  }
  

  header nav#nav .nav-sections .default-content-wrapper > ul > li:hover > ul {
    visibility: visible;
    opacity:1;
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: white;
    white-space: initial;
    
  }
  
  header nav#nav .nav-sections .default-content-wrapper > ul > li > ul > li:hover{
    background-color: green;
    color:white;
  }
  

  header nav#nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav#nav .nav-tools {
  grid-area: tools;
  display:flex;
  
  
}
header nav#nav .nav-tools p{
  align-items:center;
}

header nav#nav .nav-tools p a{
  
  padding-left:10px;
  padding-right:10px;
  
  height:15px;
  width:15px;
  
}

header nav#nav .nav-tools svg:hover{
  fill:green;
}




/* breadcrumbs */
header .breadcrumbs {
  display: none;
  padding: 0 32px;
  width: 100%;
  height: var(--breadcrumbs-height);
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  font-size: var(--breadcrumbs-font-size);
}

header .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
  color:green;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
  padding-inline-start: 0;
  opacity: 0.7;
}

header .breadcrumbs ol li:not(:last-child)::after {
  content: "/";
  padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li a:any-link {
  color: green;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li:last-of-type {
  opacity: 1;
}

@media screen and (min-width: 900px) {
  header .breadcrumbs {
    display: block;
  }
}