.contactus{

}
.contactus .contactus-details{
   display:inline-flex;
   flex-direction:column;
   width:33%;
   
   
   }

.contactus h3{
    color:green;
}
@media screen and (max-width:900px){
    .contactus .contactus-details{
      width:100%;
    }
}

