footer {
  padding: 2rem;
  background-color:black;
  font-size: var(--body-font-size-s);
  color:white;
  
  
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
 
 footer .footer.block{
   display:flex;
 }

 footer .section{
  width:20%;
  box-sizing: border-box;
  float:left;
  padding-bottom: 100px;
  padding-left:20px;
 }

 footer .section:last-child{
  width:100%;
  align-items:center;
  border-top:  1px solid white;
  padding-top:20px;
 }

 footer .default-content-wrapper p span{
  padding-left:10px;
  padding-right:10px;
  padding-top:20px;
  float:right;
  
 
 
 }
@media screen and (max-width:900px){
  footer .section{
    width:100%;
    display:flex;
    
    
    float: unset;
  }
  footer .section:last-child{
    border-top:  1px solid white;
  }
}
