footer {
  padding: 2rem;
  background-color:black;
  font-size: var(--body-font-size-s);
  color:white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
 footer .footer-wrapper{
  display:flex;
  flex-direction:column;
  
  
 }
 footer .default-content-wrapper{
  display:flex;
  padding: 10px;
  flex-direction:column;
  justify-content:space-between;
 }

 footer .default-content-wrapper p span{
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
 
 
 }