footer {
  padding: 2rem;
  background-color:black;
  font-size: var(--body-font-size-s);
  color:white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
 footer .footer-wrapper{
  display:flex;
  flex-direction:row;
  
  
 }
 footer .default-content-wrapper{
  display:inline-block;
  
  flex-direction:row;
  justify-content:space-between;
 }